/**
 * USE THIS FILE FOR ALL GLOBAL STYLES/CLASSES
 *
 *
 *
 * Author(s): Zentiph
 */


@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap');

:root {
    --theme-color: #780116;
    --theme-color-muted: #c32f27;
    --accent-color: #db7c26;
    --accent-color-bold: #f7b538;
    --accent-color-light: #ffde9e;
    --accent-color-muted: #d8572a;

    --playful-font-family: Atma, "Arial Rounded MT Bold", "Arial Narrow", sans-serif;

    --navbar-height: 100px;
}

.grow-on-hover {
    width: 100%;
    height: 100%;
    object-fit: cover;

    display: inline-block;

    transition: transform .3s ease;
}
.grow-on-hover:hover, .grow-on-hover:focus {
    transform: scale(1.05);

    /* Increase hit-box size while maintaining correct size */
    padding: 15px;
    margin: -15px;
}

body { margin: var(--navbar-height) 0 0 0; }